{% extends "contest/base.html" %}
{% block head %}
{% call super() %}
<meta http-equiv="refresh" content="60" />
{% endblock head %}
{% block title %}Scoreboard{% endblock title %}
{% block content %}
<h1>{{ contest.name }}</h1>

<p>
{% if contest.start_at.is_some() %}Starts at {{ contest.start_at.unwrap() }}{% endif %}
{% if contest.freeze_at.is_some() %}, freeze at {{ contest.freeze_at.unwrap() }}{% endif %}
{% if contest.end_at.is_some() %}, ends at {{ contest.end_at.unwrap() }} {% endif %}
</p>

<table class="w-100 collapse ba br2 b--black-10">
	<thead>
		<tr class="b">
			<td class="tl">Rank</td>
			<td class="tl">Team</td>
			<td class="tl">Score</td>
			{% for cproblem in cproblems %}
				<td class="tc">{{ cproblem.0.label }}</td>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for team in teams %}
		<tr class="{% match ctx.team %}{% when Some with (t) %}{% if team.0.id == t.id %}bg-light-yellow{% else %}striped--light-gray{% endif %}{% when None %}striped--light-gray{% endmatch %}">
			<td class="tl">{{ loop.index }}</td>
			<td class="tl">{{ team.0.name }}</td>
			<td class="tl i">{{ team.1 }}</td>
			{% for cproblem in cproblems %}
				<td class="tc">
					{% match team.2.get((cproblem.1).id.borrow()).clone() %}
					{% when Some with (ps) %}
					{% if ps.clone() >= 0.borrow() %}
						{% if ps.clone() == bscores.get(cproblem.1.id.borrow()).unwrap_or(0.borrow()) %}
							<div class="fw6">
							{{ ps }}
							</div>
						{% else %}
							{{ ps }}
						{% endif %}
					{% else %}
						-
					{% endif %}
					{% when None %} -
					{% endmatch %}
				</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock content %}
