{% extends "contest/base.html" %}
{% block head %}
{{ super() }}
<meta http-equiv="refresh" content="60" />
{% endblock head %}
{% block title %}Scoreboard{% endblock title %}
{% block content %}
<h1>{{ contest.name }}</h1>

<p>Starts at {{ contest.start_at }}{% if contest.freeze_at %}, freeze at {{ contest.freeze_at}}{% endif %}{% if contest.end_at %}, ends at {{ contest.end_at }} {% endif %}</p>

<table class="w-100 collapse ba br2 b--black-10">
	<thead>
		<tr class="b">
			<td class="tl">Rank</td>
			<td class="tl">Team</td>
			<td class="tl">Score</td>
			{% for cproblem in cproblems %}
				<td class="tc">{{ cproblem.0.label }}</td>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for team in teams %}
		<tr class="{% if active_team and team.id == active_team.id %}bg-light-yellow{% else %}striped--light-gray{% endif %}">
			<td class="tl">{{loop.index}}</td>
			<td class="tl">{{team.name}}</td>
			<td class="tl i">{% if tscores[team.id] %}{{tscores[team.id]}}{%endif%}</td>
			{% for cproblem in cproblems %}
			<td class="tc">
				{% if pscores[team.id] and pscores[team.id][cproblem.1.id]and pscores[team.id][cproblem.1.id] >= 0 %}
					{% if pscores[team.id][cproblem.1.id] == bscores[cproblem.1.id] %}
						<div class="fw6">
						{{ pscores[team.id][cproblem.1.id] }}
						</div>
					{% else %}
						{{ pscores[team.id][cproblem.1.id] }}
					{% endif %}
				{% else %}
					-
				{% endif %}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock content %}
