{% extends "base.html" %}
{% block title %}Legal Information{% endblock title %}
{% block content %}

<h1>Copyright information</h1>

<p>
Stratum is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
</p>

<p>
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
</p>

<p>
You can find a copy of the AGPL in the source executable, or 
<a href="https://www.gnu.org/licenses/agpl-3.0.txt">on the site of the FSF</a>
</p>

<p>
As part of the license requirements, <a href="/legal/download">you can download
a copy of the source code used to build this program here.</a>
</p>

{% endblock content %}
