{% extends "base.html" %}
{% block title %}Scoreboard{% endblock title %}
{% block content %}
<h1>Select your contest</h1>

{% if contests.is_empty() %}
<p>No contests are available right now.</p>
{% else %}
	{% for contest in contests %}
	<p>
		<a href="/contest/{{ contest.short_name }}">{{ contest.name }}</a>
		{% if contest.start_at.is_some() %} starts at {{ contest.start_at.unwrap() }}{% endif -%}
		{%- if contest.freeze_at.is_some() %}, freezes at {{ contest.freeze_at.unwrap() }}{% endif -%}
		{%- if contest.end_at.is_some() %}, ends at {{ contest.end_at.unwrap() }}{% endif %}

	</p>
	{% endfor %}
{% endif %}

{% endblock content %}
