{% extends "admin/base.html" %}
{% block title %}Submissions{% endblock title %}
{% block content %}
<h1>Submissions</h1>

<table>
	<thead>
		<tr>
			<td>Created At</td>
			<td>Id</td>
			<td>Location Id</td>
			<td>Problem Id</td>
			<td>Team Id</td>
			<td>Judgements: (grader_id, status, score)</td>
		</tr>
	</thead>
	<tbody>
		{% for sub in submissions %}
		<tr>
			<td><a href="/admin/submission/{{sub.location_id}}/{{sub.id}}">{{sub.created_at}}</a></td>
			<td>{{sub.id}}</td>
			<td>{{sub.location_id}}</td>
			<td>{{sub.problem_id}}</td>
			<td>{{sub.team_id}}</td>
			<td>
				{% match judgements.get(sub.id.borrow()) %}
				{% when Some with (i) %}
					{% match i.get(sub.location_id.borrow()) %}
					{% when Some with (jms) %}
						{% for jm in jms %}
							[{{ jm.grader_id }}, {{ jm.status }}, {{ jm.score.unwrap_or(0) }}]
						{% endfor %}
					{% when None %}
					{% endmatch %}
				{% when None %}
				{% endmatch %}

			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}
