{% extends "admin/base.html" %}
{% block title %}Submission {{submission.id}},{{submission.location_id}}{% endblock title %}
{% block content %}

<h1>Submission {{submission.id}},{{submission.location_id}} for {{problem.name}} by {{team.name}}</h1>


{% for file in filenames %}
	<p><a href="/admin/submission/{{submission.location_id}}/{{submission.id}}/{{file}}">{{ file }}</a></p>
{% endfor %}

{% for (jm, otcj) in judgements %}
<h2 {% if !jm.valid %} class="strike" {% endif %}>Judgement {{jm.id}}@{{jm.grader_id}}: Score {% match jm.score %}{% when Some with (i) %}{{ i }}{% when None %}unknown{% endmatch %}, Status {{ jm.status }}</h2>
{% match otcj %}
{% when Some with (tcj) %}
<h3>Test case {{tcj.test_case_position}} Stdout (status code {{tcj.status_code}})</h3>
<p>{{ tcj.output }}</p>
<h4>Stderror</h4>
<p>{{ tcj.error|safe }}</p>
{% when None %}
<p>No testcase judgement found</p>
{% endmatch %}
{% endfor %}

{% endblock content %}
