<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock title %} - Stratum</title>
	<script src="/static/turbolinks-5.2.0.js"></script>
	<link rel="stylesheet" href="/static/tachyons-4.11.2.min.css">
	{% endblock head %}
</head>
<body class="bg-near-white sans-serif min-vh-100 relative">
	<header class="bg-light-gray cf w-100 ph3 pv3 bb">
		<nav class="f5 center mw9">
			<div class="fl v-mid w-50">
			{% block top_menu_left %}
				<a class="black ph3 link" href="/">Contest List</a>
			{% endblock top_menu_left %}
			</div>
			<div class="fl v-mid w-50 tr-ns">
			{% block top_menu_right %}
				{% if active_user and active_user.rights >= 1000 %}
					<a class="black ph3 link" href="/admin">Admin Panel</a>
				{% endif %}
			{% endblock %}
			{% if active_user %}
				<span class="ph3 black">{{ active_user.username }}</span>
				<form class="ph3 di" action="/session/logout" method="POST">
					<input class="input-reset button-reset bn bg-inherit black pointer" type="submit" value="Log out">
				</form>
			{% else %}
				<a class="black ph3 link" href="/session/login">Log in</a>
			{% endif %}
			</div>
		</nav>
	</header>
	<div class="{% if layout_pagewidth %}{{ layout_pagewidth }}{% else %}mw9{% endif %} center pb4" id="content">
		{% block content %}
		{% endblock content %}
	</div>
	<div class="h2 absolute bottom-0 w-100 pt2" id="footer">
		<div class="center mw9">
			<span>
			{% block footer %}
			Page rendered at {{ now() | date(format="%d-%m-%Y %T") }} by Stratum {{ app_version }}
			{% endblock footer %}
			</span>
		</div>
	</div>
</body>
</html>
