{% extends "admin/base.html" %}
{% block title %}Users{% endblock title %}
{% block content %}
<h1>Users</h1>
<table>
	<thead>
		<tr>
			<td>Id</td>
			<td>Team name</td>
			<td>Username</td>
			<td>Rights</td>
			<td>Created at</td>
			<td>Updated at</td>
			<td>Last logged in at</td>
		</tr>
	</thead>
	<tbody>
		{% for (user, team_opt) in users %}
		<tr>
			<td>{{ user.id }}</td>
			<td>{% match team_opt %}{% when Some with (team) %}<a href="/admin/team/{{team.id}}">{{team.name}}</a>{% when None %}{% endmatch %}</td>
			<td><a href="/admin/user/{{user.id}}">{{ user.username }}</a></td>
			<td>{{ user.rights }}</td>
			<td>{{ user.created_at }}</td>
			<td>{{ user.updated_at }}</td>
			<td>
				{% match last_login_times.get(user.id.borrow()) %}
				{% when Some with (login_time) %}
					{{ login_time }}
				{% when None %}
			    		No logins yet
				{% endmatch %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<a href="/admin/user/new">Create User</a>

{% endblock content %}
